# OS metadata
.DS_Store
Thumbs.db
*.tmp

# Blender backups
*.blend1
*.blend2

# Unity temporary & build folders
UnityProject/[Ll]ibrary/
UnityProject/[Tt]emp/
UnityProject/[Oo]bj/
UnityProject/[Bb]uild/
UnityProject/[Bb]uilds/
UnityProject/[Ll]ogs/
UnityProject/[Uu]ser[Ss]ettings/
UnityProject/MemoryCaptures/

# Visual Studio / Rider / IDE cache
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.userprefs

site/dist/
site/.astro/
site/node_modules/
